
body .custom-container {
    background: #EBF7EB;
    margin: 15px 5px;
    padding: 5px;
    border: 1px solid #A8B5AE;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
   

}

.custom-container h1, .custom-container h2{
	margin: 0px;
	color: #304530;
	font-family: cursive;
}


/*
	header_image height and width should be modified according 
	to image's original size.
*/
#header_image {
	width: 100%;
	padding: 0px 0px 5px 0px;
	height: 100%;
}

.navbar-custom {
    background-color:#E4F7E4;
    color:#368536;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#368536;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}

/*
	welcome_photo height and width should be modified according 
	to image's original size.
*/
#welcome_photo {
	height: 100%;
	width: 100%;
	margin-left: auto;
    margin-right: auto
}

#welcome_slogan {
	text-align: center;
	
}

/*
	welcome_photo height and width should be modified according 
	to image's original size.
*/
#about_photo {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}



#newsletter, #newsletter input, #newsletter button {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


#newsletter input {
	width: 	500px;
}